@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d9f6d4;
  --foreground: #181414;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #5a7dc9;
    --foreground: #6c1818;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}